REDIS_URL=redis://127.0.0.1:6379/
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_AUTHORIZE=https://github.com/login/oauth/authorize
GITHUB_OAUTH_ACCESS_TOKEN=https://github.com/login/oauth/access_token
GITHUB_FETCH_USER=https://api.github.com/user
